.movieRow {
	margin-bottom: 1.5rem;
	margin-left: 2rem;
}

.movieRow h2 {
	margin-bottom: 0.25rem;
}

.movieRow--listarea {
	overflow-x: hidden;
}

.movieRow--list {
	display: flex;
	transition: all ease 0.5s;
	/* width: 99999999px; */
}

.movieRow--item {
	/* display: inline-block; */
	/* width: 150px; */
	position: relative;
}

.movieRow--item img {
	width: 150px;
	transform: scale(0.9);
	transition: all ease 0.2s;
}

.movieRow--item img:hover {
	transform: scale(1);
}

.movieRow--left,
.movieRow--right {
	position: absolute;
	width: 30px;
	height: 14.0625rem;
	background: rgba(0, 0, 0, 0.6);
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
	opacity: 0;
	transition: all ease 0.5s;
}
.movieRow--left {
	left: 0;
}
.movieRow--right {
	right: 0;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
	opacity: 1;
}
